.DS_Store
**/__pycache__
*.lst
*.csv
data/
*.py
!dataset.py
!trainECAPAModel.py
!loss.py
!model.py
!ECAPAModel.py
!tools.py
!build_datalist.py
!DemoModel.py
!demo_with_gradio.py
!recognition.py
!sparkanswer.py
!dataprep.py

# directories
.hypothesis/
CN-Celeb
exps/
log.txt
mycode/
voxceleb
voxceleb2
gradio
flagged
augmented_data

# Jupyter Notebook
*.ipynb
requirements_new.txt

#temp others
awscliv2.zip
aws
data_list
.vscode/settings.json
.vscode/launch.json
